* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
body {
  background: #222;
}
p {
  font-size: 20px;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto  0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.card .error {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  display: none;
}
.card .error p {
  font-size: 14px;
}
.card .search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.card .search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.card .search button img {
  width: 46px;
}
.card .fa-cloud-moon-rain {
  font-size: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card .fa-wind {
  font-size: 30px;
  margin-right: 10px;
}
.card .weather {
  display: none;
}
.card .weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.card .weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.card .weather .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.card .weather .weather-icon {
  width: 170px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.card .weather .col {
  display: flex;
  align-items: center;
  text-align: left;
}
.card .weather .col .humid {
  width: 40px;
  margin-right: 10px;
  background: white;
}
.card .weather .col .humidity {
  font-size: 20px;
}
.card .weather .col .humidity.wind {
  margin-top: -6px;
}
